<div id="<%= dom_id task %>">
  <!-- Todo list section -->
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col-auto m-1 p-0 d-flex align-items-center">
                <% if task.incomplete? %>
                    <%= link_to tag.i('', class: 'fa-regular fa-circle-check', 'data-toggle': 'tooltip', title: 'complete task'), change_status_task_path(task, status: :complete), method: :patch %>
                <% else %>
                    <%= link_to tag.i('', class: 'fa-solid fa-circle-check', 'data-toggle': 'tooltip', title: 'uncompleted task'), change_status_task_path(task, status: :incomplete), method: :patch %>
                <% end %> 
                </div>
                <div class="col px-1 m-1 d-flex align-items-center">
                    <div class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" > 
                        <%= task.task %> 
                    </div>
                    <% if task.date? %>
                        <i class="fa fa-hourglass text-primary" data-toggle="tooltip" data-placement="bottom" title="Due Date" data-original-title="Due on date"><%= task.date %></i>  
                    <% end %>
                <div class="col-auto m-1 p-0 todo-actions">
                    <div class=" d-flex align-items-center justify-content-end">
                        <h5 class="m-0 p-0 px-2">
                            <%= link_to tag.i('', class: 'fas fa-pen', 'data-toggle': 'tooltip', title: 'edit task'), edit_task_path(task) %>   
                        </h5>
                        <h5 class="m-0 p-0 px-2">
                             <%= button_to tag.i('',class: 'fa fa-trash-o text-danger', 'data-toggle': 'tooltip', title: 'delete task'), task, method: :delete %>   
                        </h5>
                    </div>
                    <div class="row todo-created-info">
                        <div class="col-auto d-flex align-items-center pr-2">
                            <i class="fa-solid fa-circle-info" data-toggle="tooltip" title="Info" data-placement="bottom" data-original-title="Created date"></i>
                            <%=  l task.created_at  %>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>
</div>
