<div id="<%= dom_id task %>">
  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= task.date %>
  </p>

  <p>
    <strong>Task:</strong>
    <%= task.task %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
