

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="login-page">
  <div class="form">
    <form class="register-form">
    <%= render "devise/shared/error_messages", resource: resource %>
    <h2>Reset Password</h2>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
      
      <button><%= f.submit "reset password" %></button>
      <p class="message">Changed your mind? <%= render "devise/shared/links" %></p>
      
    </form>
  </div>
</div>
<% end %>
